.modal-body
    .form-group
        label Name
        input.form-control(
            type='text', 
            placeholder="Name",
            autofocus,
            [(ngModel)]='script.name', 
        )

    .form-group
        label Script
        textarea.form-control(
            rows=6,
            style="white-space: pre-line",
            placeholder=`Script to be run
            - param is a reserved keyword representing the input parameter
            - Script must return a result
            - Example: return param.toUpperCase()
            `,
            [(ngModel)]='script.text', 
        )

    .form-group
        label Group
        input.form-control(
            type='text', 
            placeholder="Ungrouped",
            [(ngModel)]='script.group', 
        )
                    
.modal-footer
    button.btn.btn-outline-primary((click)='save()') Save
    button.btn.btn-outline-danger((click)='cancel()') Cancel
